.header {
  width: 100%;
  background: #1976d2;
  color: white;
  padding: 15px 30px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
}

.header-container {
  max-width: 1400px;
  margin: auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  margin: 0;
  font-size: 26px;
}

.nav {
  display: flex;
  gap: 30px;
}

.nav a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  transition: 0.3s;
}

.nav a:hover {
  color: #dff1ff;
}

/* Mobile */
@media (max-width: 600px) {
  .header {
    padding: 15px;
  }

  .header-container {
    flex-direction: column;
    gap: 12px;
  }

  .logo {
    font-size: 23px;
  }

  .nav {
    gap: 18px;
  }

  .nav a {
    font-size: 14px;
  }
}